@import "variables";
.about{
  display: inline-block;
  text-align: center;
  height: auto;
  width: 100%;
  background-color: $colorlightgray2;
  img{
    vertical-align: middle;
  }
  h2{
    padding: 25px;
    font-family: Monaco, sans-serif;
    letter-spacing: 4px;
  }
  p{
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 100px;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    overflow: hidden;
    color: $colorgrayshade2;
    line-height: 1.8;
  }
}