@import "variables";
footer{
  height: 30vh;
  display: flex;
  background-color: $colorlightgray1;
  align-items: center;
  width: 100%;
  .location{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    p{
      color: $colorgrayshade3;
      width: 350px;
      text-align: left;
    }
  }
  .links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-align: center;
    a {
      padding-right: 10px;
    }
  }
  .by{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    p{
      img{
      }
    }
  }
}