header {
    height: 100vh;
    text-align: center;
    width: 100%;
    background: url(../images/main_image.png) no-repeat center;
    background-size: cover;
    nav {
      display: inline-block;
      vertical-align: middle;
      margin-top: 50px;

      img {
        vertical-align: middle;
      }

      ul {
        display: inline-block;
        list-style-type: none;
        padding-right: 40px;

        li {
          display: inline-block;
          letter-spacing: 3px;
          padding: 15px;
          font-weight: bold;

          p {
            display: inline-block;
          }

          a {
            display: inline-block;
            text-decoration: none;
            color: black;
            font-family: sans-serif;
          }
        }
      }
    }
  }