@import "variables";
header {
  text-align: center;
  width: 100%;
  background: url(../images/main_image.png) no-repeat center;
  nav {

    ul {
      list-style-type: none;
      img {

      }

      li {
        letter-spacing: 3px;
        font-weight: bold;
        p {
        }
        a {
          text-decoration: none;
          color: $colorgrayshade4;
          font-family: sans-serif;
        }
      }
    }
  }
}