@import "variables";
header {
  text-align: center;
  width: 100%;
  background: url(../images/main_image.png) no-repeat center rgba(255,255,255,0.5);
  background-size: cover;
  nav {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    ul {
      display: inline-block;
      list-style-type: none;
      vertical-align: middle;
      img {
        vertical-align: middle;
      }

      li {
        display: inline-block;
        letter-spacing: 3px;
        font-weight: bold;
        vertical-align: middle;

        p {
          display: inline-block;
          vertical-align: middle;
        }

        a {
          display: inline-block;
          text-decoration: none;
          color: $colorgrayshade4;
          font-family: sans-serif;
        }
      }
    }
  }
}