@media only screen and (min-device-width: 300px) and (max-device-width: 550px) {
  footer{
    height: auto;
  }
}
@media only screen and (min-device-width: 550px) and (max-device-width: 800px) {
  footer{
    height: 30vw;
  }
}
@media only screen and (min-device-width: 300px) and (max-device-width: 460px) {
  .container-fluid {
    header {
      nav {
        padding-top: 2%;
        ul {
          li {
            padding: 0 10px;
            font-size: 20px;
            img{
              height: 50px;
              width: 50px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-device-width: 460px) and (max-device-width: 800px) {
  .container-fluid {
    header {

      nav {
        padding-top: 4%;
        ul {
          li {
            padding: 0 30px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
@media only screen and (min-device-width: 300px) and (max-device-width: 800px){
  .container-fluid{
    header{
      height: 50vw;
      background-size: contain;
      nav{
        display: flex;
        justify-content: center;
        ul{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 0;
          padding: 0;
          li{

          }
        }
      }
    }
    main{
      .main{
        .about{
          padding: 160px 50px 120px 50px;
          h2{
            font-size: 25px;
          }
          p{
            font-size: 40px;
          }
        }
        .first{
          display: inline-block;
          .images{
            width: 100%;
          }
          .bottom-box{
            width: 100%;
            .bike{
              height:auto;
              img{
                vertical-align: bottom;
              }
            }
            h2{
              font-size: 25px;
            }
            p{
              font-size: 35px;
              font-family: sans-serif;
              line-height: 1.4;
            }
          }
        }
        .second{
          display: inline-block;
          .images{
            width: 100%;
            display: none;
            height: auto;
          }
          .bottom-box{
            width: 100%;
            .seat{
              height:auto;
              img{
                vertical-align: bottom;
              }
            }
            h2{
              font-size: 25px;
            }
            p{
              font-size: 35px;
              font-family: sans-serif;
              line-height: 1.4;
            }
          }
        }
        .third{
          display: inline-block;
          .image1{
            width: 100%;
            display: none;
          }
          .image2{
            width: 100%;
          }
          .bottom-box{
              width: 100%;
            .img{
              img {
                vertical-align: bottom;
              }
            }
            h2{
              font-size: 25px;
            }
            p{
              font-size: 35px;
              font-family: sans-serif;
              line-height: 1.4;
            }
          }
        }
        .fourth{
          .twitter{
            height: 40vw;
            h3{
              font-size: 35px;
            }
            p{
              font-size: 45px;
            }
          }
        }
        .fifth{
          width: 100%;
          .category1 {
            width: 0;
            .img1 {
              display: none;
            }

            .img2 {
              display: none;
            }

            .img3 {
              display: none;
            }
          }
          .category2 {
            width: 100%;
            .img4 {
              width: 50%;
            }

            .img5 {
              width: 50%;
            }
          }
          .category3 {
            width: 0;
            .img6 {
              display: none;
            }

            .img7 {
              display: none;
            }

            .img8 {
              display: none;
            }
          }
        }
        .sixth{
          height: 80vw;
          .email{
            height: 65%;
            img{
              width: 200px;
              height: 200px;
            }
            p{
              font-size: 35px;
            }
            .email{
              height: 20%;
              width: 80%;
            }
            form{
              input[type="email"]{
                font-size: 30px;
              }
              input[type="submit"]{
                height: 80%;
                width: 20%;
                font-size: 30px;
              }
            }
          }
          .shop_button{
            a{
              font-size: 25px;
            }
          }
        }
      }
    }
    footer{
      .location{
        width: 30%;
        p{
          font-size: 25px;
        }
      }
      .links{
        a {
          img{
            width: 70px;
          }
        }
      }
      .by{
        p{
          margin: 0;
          padding-right: 10px;
          font-size: 35px;
          border: 0;
        }
        img{
          width: 90px;
        }
      }
    }
  }
}
@media only screen and (min-device-width: 800px){
  .container-fluid{
    header{
      height: 95vh;
      background-size: cover;
      nav{
        display: flex;
        justify-content: center;
        padding-top: 60px;
        ul{
          display: flex;
          flex-direction: row;
          align-items: center;
          li{
            padding-right: 40px;
          }
        }
      }
    }
    main{
      .main{
        .about{
          padding: 160px 90px 120px 90px;
          h2{
            font-size: 20px;
          }
          p{
            font-size: 25px;
            margin: 0 160px;
          }
        }
        .first{
          height: 75vh;
          display: flex;
          .images{
            width: 70%;
          }
          .bottom-box{
            width: 30%;
            .bike{
              height: 30%;
              img{
                height: 100%;
              }
            }
            p{
              font-size: 19px;
              font-family: serif;
            }
          }
        }
        .second{
          height: 75vh;
          display: flex;
          .images{
            width: 70%;
            height: 100%;
          }
          .bottom-box{
            width: 30%;
            .seat{
              height: 30%;
              img{
                height: 100%;
              }
            }
            p{
              font-family: serif;
            }
          }
        }
        .third{
          height: 75vh;
          .image1{
            width: 30%;
          }
          .image2{
            width: 30%;
          }
          .bottom-box{
            width: 40%;
            p{
              font-size: 19px;
              font-family: serif;
            }
          }
        }
        .fourth{
          .twitter{
            height: 40vh;
            p{
              font-size: 30px;
            }
          }
        }
      .sixth{
        height: 80vh;
        .email{
          height: 50%;
          form{
            input[type="email"]{
              font-size: 20px;
            }
            input[type="submit"]{
              height: 50%;
              width: 20%;
              font-size: 20px;
            }
          }
          .email{
            width: 600px;
          }
        }
        }
      }
    }
    footer{
      flex-direction: row;
      height: 30vh;
      .location{
        width: 30%;
        p{
          font-size: 20px;
        }
      }
      .links{
        a {
          img {
            width: 50px;
          }
        }
      }
      .by{
        p{
          padding-right: 10px;
          font-size: 20px;
        }
        img {
          width: 60px;
        }
      }
    }
  }
}
@media only screen and (min-device-width: 300px) and (max-device-width: 551px) {
  .container-fluid {
    footer {
      flex-direction: column;
      width: 100%;

      .location {
        flex-direction: column;
        padding: 40px 0;
        width: 100%;

        p {
          width: 100%;
          text-align: center;
        }
      }

      .links {
        padding: 40px 0;
        width: 100%;
      }

      .by {
        padding: 40px 0;
        width: 100%;
      }
    }
  }
}