@media only screen and (min-device-width: 300px) and (max-device-width: 800px){
  .container-fluid{
    header{
      nav{
        white-space: pre-wrap;
        font-size: 30px;
        ul{
          width: 100%;
          text-align: center;
          margin: 0;
          padding: 0;
          li{
            width: 100%;
          }
          img{
            height: 150px;
            width: 150px;
          }
        }
      }
    }
    main{
      .main{
        .about{
          h2{
            font-size: 25px;
          }
          p{
            font-size: 30px;
          }
        }
        .first{
          display: inline-block;
          .images{
            width: 100%;
            display: none;
          }
          .bottom-box{
            width: 100%;
            .bike{
              height:auto;
              img{
                vertical-align: bottom;
              }
            }
            h2{
              font-size: 25px;
            }
            p{
              font-size: 25px;
            }
          }
        }
        .second{
          display: inline-block;
          .images{
            width: 100%;
            height: 960px;
            display: none;
          }
          .bottom-box{
            width: 100%;
            .seat{
              height:auto;
              img{
                vertical-align: bottom;
              }
            }
            h2{
              font-size: 25px;
            }
            p{
              font-size: 25px;
            }
          }
        }
        .third{
          display: inline-block;
          .image1{
            display: none;
          }
          .image2{
            display: none;
          }
          .bottom-box{
              width: 100%;
            .img{
              img {
                vertical-align: bottom;
              }
            }
            h2{
              font-size: 25px;
            }
            p{
              font-size: 25px;
            }
          }
        }
        .fifth{
          display: none;
        }
        .sixth{
          .email{
            height: 70%;
            img{
              width: 200px;
              height: 200px;
            }
            p{
              font-size: 35px;
            }
            .email{
              height: 20%;
              width: 80%;
            }
            form{
              input[type="email"]{
                font-size: 30px;
              }
              input[type="submit"]{
                height: 80%;
                width: 20%;
                font-size: 30px;
              }
            }
          }
          .shop_button{
            a{
              font-size: 25px;
            }
          }
        }
      }
    }
    footer{
      .location{
        width: 30%;
        p{
          font-size: 25px;
        }
      }
      .links{
        a {
          img{
            width: 70px;
          }
        }
      }
      .by{
        p{
          margin: 0;
          padding-right: 10px;
          font-size: 35px;
          border: 0;
        }
        img{
          width: 90px;
        }
      }
    }
  }
}
@media only screen and (min-device-width: 800px){
  .container-fluid{
    header{
      height: 100vh;
      display: inline-block;
      nav{
        margin-top: 50px;
        ul{
          padding-right: 40px;
          text-align: center;
          li{
            padding: 15px;
          }
        }
      }
    }
    main{
      .main{
        .about{
          h2{
            font-size: 20px;
          }
          p{
            font-size: 25px;
          }
        }
        .first{
          height: 75vh;
          display: flex;
          .images{
            width: 70%;
          }
          .bottom-box{
            width: 30%;
            .bike{
              height: 30%;
              img{
                height: 100%;
              }
            }
            p{
              font-size: 19px;
            }
          }
        }
        .second{
          height: 75vh;
          display: flex;
          .images{
            width: 70%;
            height: 100%;
          }
          .bottom-box{
            width: 30%;
            .seat{
              height: 30%;
              img{
                height: 100%;
              }
            }
          }
        }
        .third{
          height: 75vh;
          .bottom-box{
            width: 40%;
            p{
              font-size: 19px;
            }
          }
        }
      .sixth{
        .email{
          height: 50%;
          form{
            input[type="email"]{
              font-size: 20px;
            }
            input[type="submit"]{
              height: 50%;
              width: 20%;
              font-size: 20px;
            }
          }
          .email{
            width: 600px;
          }
        }
        }
      }
    }
    footer{
      flex-direction: row;
      .location{
        width: 30%;
        p{
          font-size: 20px;
        }
      }
      .links{
        a {
          img {
            width: 50px;
          }
        }
      }
      .by{
        p{
          padding-right: 10px;
          font-size: 20px;
        }
        img {
          width: 60px;
        }
      }
    }
  }
}
@media only screen and (min-device-width: 300px) and (max-device-width: 551px){
  .container-fluid{
    footer{
      flex-direction: column;
      width: 100%;
      .location{
        flex-direction: column;
        padding: 40px 0;
        width: 100%;
        p{
          width: 100%;
          text-align: center;
        }
      }
      .links{
        padding: 40px 0;
        width: 100%;
      }
      .by{
        padding: 40px 0;
        width: 100%;
      }
    }
  }
}