@import "variables";
.fifth {
  display: flex;
  height: 55vh;
  .category1 {
    width: 30%;
    display: inline-block;
    height: 100%;

    .img1 {
      img {
        width: 100%;
        height: 100%;
      }

      width: 50%;
      float: left;
      text-align: center;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .background1 {
        a {
          img {
            display: none;
          }
        }

        a {
          h3 {
            display: none;
          }
        }
      }

      &:hover {
        position: relative;

        .background1 {
          width: 100%;
          height: 100%;
          position: absolute;
          background: $colorlightgreen1;
          display: flex;
          justify-content: center;
          align-items: center;

          a:nth-of-type(1) {
            position: absolute;
            width: 51px;
            height: 30px;

            img {
              display: flex;
            }
          }

          a:nth-of-type(2) {
            display: flex;
            position: absolute;
            align-items: flex-end;
            justify-content: center;
            width: 90px;
            height: 90px;
            text-decoration: none;
            color: $colorgrayshade4;

            h3 {
              position: absolute;
              display: flex;
            }
          }
        }
      }
    }

    .img2 {
      img{
        width: 100%;
        height: 100%;
      }
      width: 50%;
      float: left;
      text-align: center;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .background2 {
        a {
          img {
            display: none;
          }
        }

        a {
          h3 {
            display: none;
          }
        }
      }
      &:hover {
        position: relative;
        .background2{
          width: 100%;
          height: 100%;
          position: absolute;
          background: $colorlightgreen1;
          display: flex;
          justify-content: center;
          align-items: center;
          a:nth-of-type(1) {
            position: absolute;
            width: 51px;
            height: 30px;

            img {
              display: flex;
            }
          }

          a:nth-of-type(2) {
            display: flex;
            position: absolute;
            align-items: flex-end;
            justify-content: center;
            width: 90px;
            height: 90px;
            text-decoration: none;
            color: $colorgrayshade4;

            h3 {
              position: absolute;
              display: flex;
            }
          }
        }
      }
    }


    .img3 {
      img{
        width: 100%;
        height: 100%;
      }
      width: 100%;
      float: left;
      text-align: center;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .background3 {
        a {
          img {
            display: none;
          }
        }

        a {
          h3 {
            display: none;
          }
        }
      }
      &:hover {
        position: relative;
        .background3{
          width: 100%;
          height: 100%;
          position: absolute;
          background: $colorlightgreen1;
          display: flex;
          justify-content: center;
          align-items: center;
          a:nth-of-type(1) {
            position: absolute;
            width: 51px;
            height: 30px;

            img {
              display: flex;
            }
          }

          a:nth-of-type(2) {
            display: flex;
            position: absolute;
            align-items: flex-end;
            justify-content: center;
            width: 90px;
            height: 90px;
            text-decoration: none;
            color: $colorgrayshade4;

            h3 {
              position: absolute;
              display: flex;
            }
          }
        }
      }
    }
  }

  .category2 {
    width: 40%;
    display: inline-block;
    height: 100%;

    .img4 {
      img{
        width: 100%;
        height: 100%;
      }
      width: 50%;
      float: left;
      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .background4 {
        a {
          img {
            display: none;
          }
        }

        a {
          h3 {
            display: none;
          }
        }
      }
      &:hover {
        position: relative;
        .background4{
          width: 100%;
          height: 100%;
          position: absolute;
          background: $colorlightgreen1;
          display: flex;
          justify-content: center;
          align-items: center;
          a:nth-of-type(1) {
            position: absolute;
            width: 51px;
            height: 30px;

            img {
              display: flex;
            }
          }

          a:nth-of-type(2) {
            display: flex;
            position: absolute;
            align-items: flex-end;
            justify-content: center;
            width: 90px;
            height: 90px;
            text-decoration: none;
            color: $colorgrayshade4;

            h3 {
              position: absolute;
              display: flex;
            }
          }
        }
      }
    }

    .img5 {
      img{
        width: 100%;
        height: 100%;
      }
      width: 50%;
      float: left;
      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .background5 {
        a {
          img {
            display: none;
          }
        }

        a {
          h3 {
            display: none;
          }
        }
      }
      &:hover {
        position: relative;
        .background5{
          width: 100%;
          height: 100%;
          position: absolute;
          background: $colorlightgreen1;
          display: flex;
          justify-content: center;
          align-items: center;
          a:nth-of-type(1) {
            position: absolute;
            width: 51px;
            height: 30px;

            img {
              display: flex;
            }
          }

          a:nth-of-type(2) {
            display: flex;
            position: absolute;
            align-items: flex-end;
            justify-content: center;
            width: 90px;
            height: 90px;
            text-decoration: none;
            color: $colorgrayshade4;

            h3 {
              position: absolute;
              display: flex;
            }
          }
        }
      }
    }
  }

  .category3 {
    width: 30%;
    height: 100%;
    .img6 {
      img{
        width: 100%;
        height: 100%;
      }
      width: 100%;
      float: left;
      text-align: center;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .background6 {
        a {
          img {
            display: none;
          }
        }

        a {
          h3 {
            display: none;
          }
        }
      }
      &:hover {
        position: relative;
        .background6{
          width: 100%;
          height: 100%;
          position: absolute;
          background: $colorlightgreen1;
          display: flex;
          justify-content: center;
          align-items: center;
          a:nth-of-type(1) {
            position: absolute;
            width: 51px;
            height: 30px;

            img {
              display: flex;
            }
          }

          a:nth-of-type(2) {
            display: flex;
            position: absolute;
            align-items: flex-end;
            justify-content: center;
            width: 90px;
            height: 90px;
            text-decoration: none;
            color: $colorgrayshade4;

            h3 {
              position: absolute;
              display: flex;
            }
          }
        }
      }
    }

    .img7 {
      img{
        width: 100%;
        height: 100%;
      }
      width: 50%;
      float: left;
      text-align: center;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .background7 {
        a {
          img {
            display: none;
          }
        }

        a {
          h3 {
            display: none;
          }
        }
      }
      &:hover {
        position: relative;
        .background7{
          width: 100%;
          height: 100%;
          position: absolute;
          background: $colorlightgreen1;
          display: flex;
          justify-content: center;
          align-items: center;
          a:nth-of-type(1) {
            position: absolute;
            width: 51px;
            height: 30px;

            img {
              display: flex;
            }
          }

          a:nth-of-type(2) {
            display: flex;
            position: absolute;
            align-items: flex-end;
            justify-content: center;
            width: 90px;
            height: 90px;
            text-decoration: none;
            color: $colorgrayshade4;

            h3 {
              position: absolute;
              display: flex;
            }
          }
        }
      }
    }

    .img8 {
      img{
        width: 100%;
        height: 100%;
      }
      width: 50%;
      float: left;
      text-align: center;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .background8 {
        a {
          img {
            display: none;
          }
        }

        a {
          h3 {
            display: none;
          }
        }
      }
      &:hover {
        position: relative;
        .background8{
          width: 100%;
          height: 100%;
          position: absolute;
          background: $colorlightgreen1;
          display: flex;
          justify-content: center;
          align-items: center;
          a:nth-of-type(1) {
            position: absolute;
            width: 51px;
            height: 30px;

            img {
              display: flex;
            }
          }

          a:nth-of-type(2) {
            display: flex;
            position: absolute;
            align-items: flex-end;
            justify-content: center;
            width: 90px;
            height: 90px;
            text-decoration: none;
            color: $colorgrayshade4;

            h3 {
              position: absolute;
              display: flex;
            }
          }
        }
      }
    }
  }
}