@import "variables";
.sixth{
  width: 100%;
  .shop_button{
    height: 20%;
    width: 100%;
    background-color: $colorgrayshade4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      text-decoration: none;
      color: $colorwhite;
      border: 2px solid $colorwhite;
      padding: 10px 30px;
      border-radius: 1px;
      word-spacing: 5px;
    }
  }
  .email{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 80px;
    .email{
      margin: 0;
      height: 200px;
      flex-direction: row;
    }
    img{
      padding: 20px 20px 35px 20px;
    }
    p{
      color: $colorgrayshade1;
      font-size: 20px;
      font-style: italic;
      text-align: center;
    }
    form {
      input[type="email"] {
        width: 80%;
        height: 50%;
        border: none;
        color: $colorgrayshade4;
        padding-left: 10px;
        font-style: italic;
        text-align: left;
      }

      input[type="submit"] {
        background-color: $colorlightgreen1;
        border: none;
        color: $colorwhite;
      }
    }
  }
}