.sixth{
  height: 80vh;
  width: 100%;
  .shop_button{
    height: 20%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      text-decoration: none;
      color: white;
      border: 1px solid white;
      padding: 10px 40px;
      border-radius: 1px;
      word-spacing: 5px;
    }
  }
  .email{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    .email{
      width: 600px;
      height: 200px;
      flex-direction: row;
    }
    img{
      padding: 20px;
    }
    p{
      color: #909090;
      font-size: 20px;
      font-style: italic;
    }
    form {
      input[type="email"] {
        width: 80%;
        height: 50%;
        border: none;
        color: #e8e8e8;
        font-style: italic;
        font-size: 20px;
        text-align: left;
      }

      input[type="submit"] {
        width: 20%;
        height: 50%;
        background-color: lightgreen;
        border: none;
        color: white;
        font-size: 20px;
      }
    }
  }
}