.third {
  display: flex;
  height: 75vh;
  width: 100%;

  .image1 {
    display: flex;
    height: 100%;
    width: 30%;
    background: url(../images/bike3_big.png) no-repeat center;
    background-size: cover;
    justify-content: center;
    align-items: center;

    img {
      display: flex;
      width: 300px;
      height: 120px;
    }
  }

  .bottom-box {
    width: 40%;
    text-align: center;

    .border {
      height: 70%;
      position: relative;
      background-color: white;

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-top: solid 10px white;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
      }
    }

    h2 {
      margin-top: 30px;
      margin-bottom: 10px;
    }

    p {
      color: #909090;
      line-height: 30px;
      text-align: justify;
      padding: 0 65px;

      &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 15%;
        padding-top: 50px;
        border-bottom: 1px solid black;
      }
    }
    img{
      margin-top: 100px;
    }
    .img{
      height: 30%;
      img{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .image2 {
    display: flex;
    height: 100%;
    width: 30%;
    background: url(../images/bike3_big2.png) no-repeat center;
    background-size: cover;
  }
}