@import "variables";
.second {
  width: 100%;
  .images {
    display: flex;
    height: 100%;
    background: url(../images/bike1_big.png) no-repeat center ;
    background-size: cover;
    justify-content: center;
    align-items: center;
    img {
      display: flex;
      width: 150px;
      height: 120px;
    }
  }
  .bottom-box{
    height: auto;
    text-align: center;
    .border{
      height: 70%;
      position: relative;
      background-color: $colorwhite;
      padding: 65px 65px;
      &:after {
        content:'';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-top: solid 10px $colorwhite;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
      }
    }
    h2{
      margin-top: 30px;
      margin-bottom: 10px;
    }
    p{
      color: $colorgrayshade1;
      line-height: 30px;
      font-size: 19px;
      text-align: justify;
      &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 15%;
        padding-top: 50px;
        border-bottom: 1px solid $colorgrayshade4;
      }
    }
    img{
    }
    .seat{
      margin-top: 1px;
      img{
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;

      }
    }
  }
}