@import "variables";
.third {
  display: flex;
  width: 100%;

  .image1 {
    position: relative;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    .imageBack3{
      position: relative;
      width: 100%;
      height: 100%;
    }

    .imageLogo3 {
      position: absolute;
      display: flex;
      width: 300px;
      height: 120px;
    }
  }

  .bottom-box {
    text-align: center;

    .border {
      height: 70%;
      position: relative;
      background-color: $colorwhite;
      padding: 100px 65px 65px 65px;
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-top: solid 10px $colorwhite;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
      }
    }

    h2 {
      margin-top: 30px;
      margin-bottom: 10px;
      letter-spacing: 2px;
      font-family: sans-serif;
    }

    p {
      color: $colorgrayshade1;
      line-height: 35px;
      text-align: justify;
      padding: 0 90px;

      &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 15%;
        padding-top: 50px;
        border-bottom: 1px solid $colorgrayshade4;
      }
    }
    img{
    }
    .img{
      height: 30%;
      img{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .image2 {
    display: flex;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }
}