@import "variables";
.fifth {
  display: flex;
  height: 55vh;
  .category1 {
    width: 30%;
    display: inline-block;
    height: 100%;
    .img1 {
      background: url(../images/shop-left-1.png) no-repeat center;
      background-size: cover;
      width: 50%;
      float: left;
      text-align: center;
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        img {
          display: none;
        }
      }
      a {
        h3 {
          display: none;
        }
      }
      &:hover{
        background: $colorlightgreen1;
        a {
          img {
            display: flex;
          }
        }
        a {
          text-decoration: none;
          color: $colorgrayshade4;
          h3 {
            display: flex;
          }
        }
      }
    }

    .img2 {
      width: 50%;
      float: left;
      height: 40%;
      background: url(../images/shop-left-2.png) no-repeat;
      background-size: cover;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        img {
          display: none;
        }
      }
      a {
        h3 {
          display: none;
        }
      }
      &:hover{
        background: $colorlightgreen1;
        a {
          img {
            display: flex;
          }
        }
        a {
          text-decoration: none;
          color: $colorgrayshade4;
          h3 {
            display: flex;
          }
        }
      }
    }
  }

  .img3 {
    width: 100%;
    height: 60%;
    background: url(../images/shop-left-3.png) no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      img {
        display: none;
      }
    }
    a {
      h3 {
        display: none;
      }
    }
    &:hover{
      background: $colorlightgreen1;
      a {
        img {
          display: flex;
        }
      }
      a {
        text-decoration: none;
        color: $colorgrayshade4;
        h3 {
          display: flex;
        }
      }
    }
  }

  .category2 {
    width: 40%;
    display: inline-block;
    height: 100%;

    .img4 {
      float: left;
      width: 50%;
      height: 100%;
      text-align: center;
      background: url(../images/shop-middle-1.png) no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        img {
          display: none;
        }
      }
      a {
        h3 {
          display: none;
        }
      }
      &:hover{
        background: $colorlightgreen1;
        a {
          img {
            display: flex;
          }
        }
        a {
          text-decoration: none;
          color: $colorgrayshade4;
          h3 {
            display: flex;
          }
        }
      }
    }

    .img5 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      float: left;
      text-align: center;
      background: url(../images/shop-middle-2.png) no-repeat;
      background-size: cover;
      a {
        img {
          display: none;
        }
      }
      a {
        h3 {
          display: none;
        }
      }
      &:hover{
        background: $colorlightgreen1;
        a {
          img {
            display: flex;
          }
        }
        a {
          text-decoration: none;
          color: $colorgrayshade4;
          h3 {
            display: flex;
          }
        }
      }
    }
  }

  .category3 {
    width: 30%;
    height: 100%;
    .img6 {
      background: url(../images/shop-right-1.png) no-repeat;
      background-size: cover;
      width: 100%;
      text-align: center;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        img {
          display: none;
        }
      }
      a {
        h3 {
          display: none;
        }
      }
      &:hover{
        background: $colorlightgreen1;
        a {
          img {
            display: flex;
          }
        }
        a {
          text-decoration: none;
          color: $colorgrayshade4;
          h3 {
            display: flex;
          }
        }
      }
    }

    .img7 {
      height: 50%;
      width: 50%;
      float: left;
      background: url(../images/shop-right-2.png) no-repeat;
      background-size: cover;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        img {
          display: none;
        }
      }
      a {
        h3 {
          display: none;
        }
      }
      &:hover{
        background: $colorlightgreen1;
        a {
          img {
            display: flex;
          }
        }
        a {
          text-decoration: none;
          color: $colorgrayshade4;
          h3 {
            display: flex;
          }
        }
      }
    }

    .img8 {
      width: 50%;
      height: 50%;
      float: left;
      background: url(../images/shop-right-3.png) no-repeat;
      background-size: cover;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        img {
          display: none;
        }
      }
      a {
        h3 {
          display: none;
        }
      }
      &:hover{
        background: $colorlightgreen1;
        a {
          img {
            display: flex;
          }
        }
        a {
          text-decoration: none;
          color: $colorgrayshade4;
          h3 {
            display: flex;
          }
        }
      }
    }
  }
}