// gray color shades
$colorgrayshade1: #909090;
$colorgrayshade2: #707070;
$colorgrayshade3: #606060;
$colorgrayshade4: #000;
// white color
$colorwhite: #fff;
// light gray shades
$colorlightgray1: #E8E8E8;
$colorlightgray2: #f7f7f7;
// light green shades
$colorlightgreen1: #7ec965;